// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

$enable-gradients: true !default;

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);

// StartBootstrap
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';

.z-10 {
    z-index: 10;
}

.fixed-0 {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/scss/fontawesome.scss';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/scss/brands.scss';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/scss/regular.scss';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/scss/solid.scss';


// Noty Install
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
